html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*CSS RESET ends here*/
body {
    height: 100vh;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}
.logo {
    height: 20%;
    width: 100%;
    font-size: 600%;
    overflow: hidden;
}
.logo h1 {
   margin-top: 1.5% 
}
.h2 {
    width: 40%;
    height: 10%;
    position: absolute;
    margin: 0 30% 0 30%;
}
h2 {
    margin-top: 1.5%;
    font-size: 2.5rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.padding {
    height: 10%
}
.about-me {
    padding: 2% 25%;
    line-height: 180%
}
.navbar {
    height: 10%;
    text-align: center;
}
li {
    display: inline-block;
    margin: 1% 7% 1% 7%;
    font-size: 140%;
    font-family: 'PT Sans Narrow', sans-serif;
}
.container2 {
    display: inline-grid;
    width: 30%;
    height: auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.portfolio-text {
    color: white;
    font-size: 180%;
    position: absolute;
    z-index: 1;
    margin-top: 30%;
    width: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
}
.folder-img {
    width: 95%;
    height: auto;
    display: inline-block;
    position: relative;
    margin: auto;
    padding: 1%;
    transition: transform .2s;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: lightgrey;
}
.contact {
    margin: 2% auto;
    width: 30%;
    height: 50%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    display: inline-grid;
    
}
.contact-info {
    padding-top: 5%;
    font-size: 130%;
}
.button {
    padding-left: 90px;
}
button {
    margin-left: .5em;
}
.jules {
    color: gray;
    font-size: 90%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 1;
}
.back {
    float: left;
    margin-left: 10%;
}
.fa-angle-left {
    font-size: 3rem;
    }
.fa-angle-left:hover {
    color: lightgray;
}
@media only screen and (max-width: 480px) {
    .container2 {
        width: 40%;
        height: auto;
        position: relative;
        margin: 0 30% 10% 30%
    }
    .folder-img {
        width: 95%;
        height: auto;
        display: block;
        position: relative;
    }
    .navbar {
        height: 15%;
    }
    .portfolio-text {
        color: white;
        font-size: 180%;
        position: absolute;
        z-index: 1;
        width: 100%;
    }
    li {
        display: inline-block;
        margin: 3% 7% 1% 7%;
        font-size: 150%;
    }
}
@media only screen and (max-width: 350px) {
    .portfolio-text {
        color: white;
        font-size: 120%;
        position: absolute;
        z-index: 1;
        width: 100%;
    }
    .back {
        padding-left: 0;
    }
}
@media only screen and (max-height: 580px) {
    .logo {
        height: 1.3em;
        width: 100%;
        font-size: 600%;
        overflow: hidden;
    }
    .navbar {
        height: 80px;
    }
}
